<%- include('../layouts/header.ejs') -%>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .text-center {
    text-align: center;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<form method="POST" action="/admin/newuser">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="col">
    <div class="form-outline">
      <input type="text" id="name" name="name" class="form-control" pattern="[A-Za-z]+" required />
      <label class="form-label" for="name">Name</label>
    </div>
  </div>
  

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" id="emailInput" name="email" class="form-control" maxlength="16" required />
    <label class="form-label" for="email">Email address</label>
    <div id="emailError" class="error text-danger"></div>
  </div>
  

  <!--  preferred car  -->
  <div class="form-outline mb-4">
    <input type="text" id="car" name="car" class="form-control"  maxlength="8" />
    <label class="form-label" for="car">Car</label>
  </div>
  

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" name="password" class="form-control" maxlength="8" minlength="3" />
    <label class="form-label" for="password">Password</label>
  </div>
  

 
  <!-- Submit button -->
  <div class="form-check d-flex justify-content-center mb-4">
    <button type="submit" class="btn btn-primary btn-block mb-4">Add User</button>
  </div>

 

</form>
<div class="form-check d-flex justify-content-center mb-4">
    <a href="/admin/Dashboard" type="submit" class="btn btn-primary btn-block mb-4">Back</a>
  </div>
   



<% 

if (typeof message !== 'undefined') {
  %>
  <div class="form-check d-flex justify-content-center mb-4">
    <p style="color: green;"><%= message %></p>
  </div>
  <%
}

%>


<%- include('../layouts/footer.ejs') -%>
