
<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>AudioBlast</h4>
                    <ul>
                        <li>
                            <a href="#">contact Us </a>
                        </li>
                        <li>
                            <a href="#">About Us </a>
                        </li>
                    </ul>
            </div>

            <div class="footer-col">
                <h4>get help</h4>
                    <ul>
                        <li>
                            <a href="#">Cart</a>
                        </li>
                        <li>
                            <a href="#">Checkout</a>
                        </li>
                        <li>
                            <a href="#">Wishlist</a>
                        </li>
                    </ul>
               

            </div>

            <div class="footer-col">
                <h4>Shop</h4>
                    <ul>
                        <li>
                            <a href="#">True Wireless</a>
                        </li>

                        <li>
                            <a href="#">Wired </a>
                        </li>
                        <li>
                            <a href="#">Wireless</a>
                        </li>
                        <li>
                            <a href="#">Speakers</a>
                        </li>
                    </ul>
               

            </div>
            
            <div class="footer-col">
                <h4>follow Us</h4>
                <div class="social-links">
                            <a href="#"><i class=" fab fa-x"></i></a> 
                            <a href="#"><i class=" fab fa-threads"></i>
                            <a href="#"><i class=" fab fa-instagram"></i></a> 
                            <a href="#"><i class=" fab fa-linkedin-in"></i></a>                        
                </div>
            </div>

        </div>

    </div>

</footer>


<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/jquery.countdown.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/main.js"></script>




</body>
</html> 