<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="stylesheet" href="/public/style.css">

   <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
   <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="/static/css/style.css" type="text/css">
   <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
   rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    
        <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

   

    <title>AudioBlast</title>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Poppins:wght@300;400&display=swap');
    
  
 

  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        max-width: 1170px;
        margin: auto;
    }
    .row{
        display: flex;
        flex-wrap:wrap ;
    }
    .footer-col ul{
        list-style: none;
        padding:0;
    }
    .footer{
        line-height: 1.5;
        background-color: #000000;
        padding: 70px 0;   
        font-family: 'Metrophobic', sans-serif;
        font-family: 'Poppins', sans-serif;                   
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
         font-size: 18px;
         color: #ffffff;
         text-transform: capitalize;
         margin-bottom: 35px;
         font-weight: 500;
         position:relative;
         
    }
    .footer-col h4::before{
        content:'';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height:2px;
        box-sizing: border-box;
        width:50px;
    }
    .footer-col ul li:not(:last-chid){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;  
      color:#ffffff;
      text-decoration:none;
      font-weight: 300;
      color: #bbbbbb; 
      display: block;
      transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color:#ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height :40px;
        width: 40px;
        background-color: #ffffff33;
        margin:0 10px 10px 0;
        text-align:center;
        line-height:40px;
        border-radius:50%;
        color: #ffffff;
        transition: all 0.3s ease;
    }

    .footer-col .social-links a:hover{
        color:#242622;
        background-color:#ffffff;

    }
    @media (max-width: 767px){
        .footer-col{
            width:50%;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 574px){
        .footer-col{
            width:100%;
          
        }
    }

</style>
</head>
<body>

    
    