

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<style>
    small.error{
        color: red;
    }
</style>

<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-sm-12">
                    <div class="card shadow-2-strong">
                        <div class=" p-5 ">
                            <div class="text-center">
                                <h3 class="mb-3">Edit Profile</h3>
                               
                            </div>
                            <form action="/user-dashboard/editProfile" method="post">


                                <div class="form-outline mb-3 row ">
                                    <div class=" col-md-6 col-12 mb-3">
                                        <label class="form-label" for="fname"> Name</label>
                                        <input type="text" id="name" class="form-control form-control-md rounded-0" value="<%= user.name %>"
                                        placeholder="Enter first name" name="name" required/>
                                        <small id="fnameErr" class="error"></small>
                                    </div>
                               

                                <div class="form-outline mb-3 row">
                                    <div class=" col-md-6 col-12 mb-3">
                                        <label class="form-label" for="mobile">Mobile</label>
                                        <input type="number" id="mob"  value="<%= user.mob %>"
                                            class="form-control form-control-md rounded-0" placeholder="Enter Mobile No." name="mob" required/>
                                        <small id="mobileErr" class="error"></small>
                                    </div>
                                  
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-dark btn-md rounded-pill px-5 py-2 login-btn" type="submit" onclick="return validateProfile()">Update Profile</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script src="/static/validations/signupValidation.js"></script>

</body>

</html>
