<%- include('../layouts/header.ejs') -%>

<style>
  /* Additional CSS for centering the form */


.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #6b0707;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 4, 4, 0.2);
  text-align: center; /* Align form elements to center */
  
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* color: #ecacac; */
  }
  a{
    color: #000000;
  }
  form {
  max-width: 400px;
  width: 100%;
  margin: auto; /* Center horizontally and vertically */
  padding: 20px;
  border: 1px solid #6b0707;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 4, 4, 0.2);
  text-align: center;
}

  .form-group {
    margin-bottom: 20px;
  }
  .text-center {
    text-align: center;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  </style>

 

<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>
<div class="container">

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
  <div class="offcanvas__close">+</div>
  <ul class="offcanvas__widget">
      <li><span class="icon_search search-switch"></span></li>
      <li><a href="#"><span class="icon_heart_alt"></span>
          <div class="tip">2</div>
      </a></li>
      <li><a href="#"><span class="icon_bag_alt"></span>
          <div class="tip">2</div>
      </a></li>
  </ul>
  <div class="offcanvas__logo">
      <a href="./index.html"><img src="img/logo.png" alt=""></a>
  </div>
  <div id="mobile-menu-wrap"></div>
  <div class="offcanvas__auth">
      <a href="#">Login</a>
      <a href="#">Register</a>
  </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl-3 col-lg-2">
              <div class="header__logo">
                  <a href="./index.html"><img src="img/logo.png" alt=""></a>
              </div>
          </div>
          <div class="col-xl-6 col-lg-7">
              <nav class="header__menu">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li class="active"><a href="#">Shop</a></li>
                    
                      <li ><a href="#">cart</a></li>
                      <li><a href="#">Pages</a>
                          <ul class="dropdown">
                              <li><a href="./product-details.html">Product Details</a></li>
                              <li><a href="./shop-cart.html">Shop Cart</a></li>
                              <li><a href="./checkout.html">Checkout</a></li>
                              <li><a href="./blog-details.html">Blog Details</a></li>
                          </ul>
                      </li>
                    
                      <li><a href="./contact.html">Contact</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="header__right">
                  <div class="header__right__auth">
                      <a href="#">Login</a>
                      <a href="#">Register</a>
                  </div>
                  <ul class="header__right__widget">
                      <li><span class="icon_search search-switch"></span></li>
                      <li><a href="#"><span class="icon_heart_alt"></span>
                          <div class="tip">2</div>
                      </a></li>
                      <li><a href="#"><span class="icon_bag_alt"></span>
                          <div class="tip">2</div>
                      </a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="canvas__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
<!-- Header Section End -->




  <form action="/login" method="POST" class="login-form" >
    <!-- 2 column grid layout with text inputs for the first and last names -->
   
  
    <!-- Email input -->
    <div class="form-check d-flex justify-content-center text-danger">
      <%
      
      if(typeof message != 'undefined'){
              %>
              <h6>
                  <%= message %>
              </h6>
              <%
      }
  
      %>
    </div>
    <div class="form-outline mb-4">
      <input type="email" id="email" name="email" required class="form-control" />
      <label class="form-label" for="email">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" name="password" required class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>
  
    <!-- Submit button -->
    <div class="form-check d-flex justify-content-center mb-4">
      <button type="submit" class="btn btn-dark btn-block mb-4">Login </button>
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
        <p>don't have an account? </p>
        <br>
        <a href="/register"> Register</a>
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
        <p>Forgot your password? </p>
        <br>
        <a href="/forgotPassword"> Reset</a>
    </div>
  </form>

</div>
  
  <script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/jquery.countdown.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/main.js"></script>
  

