<%- include('../layouts/header.ejs') -%>

<style>
  /* Additional CSS for centering the form */


.login-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #6b0707;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 4, 4, 0.2);
  text-align: center; /* Align form elements to center */
  
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* color: #ecacac; */
  }
  a{
    color: #000000;
  }
  form {
  max-width: 400px;
  width: 100%;
  margin: auto; /* Center horizontally and vertically */
  padding: 20px;
  border: 1px solid #6b0707;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(128, 4, 4, 0.2);
  text-align: center;
}

  .form-group {
    margin-bottom: 20px;
  }
  .text-center {
    text-align: center;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  </style>

 

<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<div class="container">
  <form action="/login" method="POST" class="login-form" >
    <!-- 2 column grid layout with text inputs for the first and last names -->
   
  
    <!-- Email input -->
    <div class="form-check d-flex justify-content-center text-danger">
      <%
      
      if(typeof message != 'undefined'){
              %>
              <h6>
                  <%= message %>
              </h6>
              <%
      }
  
      %>
    </div>
    <div class="form-outline mb-4">
      <input type="email" id="email" name="email" required class="form-control" />
      <label class="form-label" for="email">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="password" name="password" required class="form-control" />
      <label class="form-label" for="password">Password</label>
    </div>
  
    <!-- Submit button -->
    <div class="form-check d-flex justify-content-center mb-4">
      <button type="submit" class="btn btn-dark btn-block mb-4">Login </button>
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
        <p>don't have an account? </p>
        <br>
        <a href="/register"> Register</a>
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
        <p>Forgot your password? </p>
        <br>
        <a href="/forgotPassword"> Reset</a>
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
      <p>Go to Homepage? </p>
      <br>
      <a href="/"> Home</a>
  </div>
  </form>

</div>
  
  <script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/jquery.countdown.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.nicescroll.min.js"></script>
<script src="/static/js/main.js"></script>
  

