<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Update Password</title>
</head>
<body>
    
<div class="container" >
  <div class="col-xl-10 col-lg-12 col-md-9">
 
    <form method="post" action="/updatePassword2">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <input type="hidden" name="email" value="<%=email%>">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
      </div>
   
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>
</div>
    

</body>
</html>